# Exclude training photos and large folders
ALL PHOTOS/
DATASET/
DATA/
!DATA/
DATA/*
!DATA/FloodWatch_App_Data.csv
!DATA/Kisseman_lulc.tif
!DATA/Kisseman_slope.tif
!DATA/Kisseman_facc.tif
!DATA/Kisseman_dem.tif
FIELD_DATA_backup/
MODELS/
!MODELS/
!MODELS/drain_classifier.pth

# Python environment and cache
.venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
